/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
#content{
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    height: 84px;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 10px 6px 5px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    ELECTRE FORM
----------------------------------------------------- */

.buttom-electre-form input[type="number"] {
    width: 64px;
}

.calculation {
    background-color: #FAFAFA;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: 4px;
    max-height: 128px;
    overflow: auto;
    display: none;
}

.electre-form {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 10px 6px 5px rgba(0, 0, 0, 0.1);

    font-size: 16;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.electre-form td {
    padding: 4px;
}

.electre-form input[type="file"] {
    padding: 4px;
}

.electre-form button {
    margin-top: 8px;
    margin-left: 4px;
}

.electre-result {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 10px 6px 5px rgba(0, 0, 0, 0.1);

    font-size: 16;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.electre-result div, span {
    padding: 8px;
}

.electre-result-title {
    font-size: 24;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    margin-top: -20px;
    color: black;
}

.flexed {
    display: flex;
    align-items: center;
}

.matrix td {
    border: 0.5px solid black;
    padding: 2px 8px;
}

.title-electre-form {
    font-weight: 500;
    min-width: 42px;
}

.top-electre-form {
    width: 100%;
}


/* ---------------------------------------------------
    PNG TO JPG
----------------------------------------------------- */

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0; /* Add 20px of margin below the heading */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

input[type="file"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #6d7fcc;
    color: #fff;
    font-weight: bold;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Result styles */
  .result {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-image {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .result-message {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Download link styles */
  .download-link {
    color: #6d7fcc;
    font-weight: bold;
  }


/* ---------------------------------------------------
    Caesar Cipher
----------------------------------------------------- */

/* Style for the entire page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the form container */
form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Style for the heading */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Style for input fields */
/* Style for input fields and labels */
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold; /* Added font weight for better visibility */
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s; /* Added box-shadow transition */
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #6d7fcc;
    box-shadow: 0 0 10px rgba(109, 127, 204, 0.5); /* Added box-shadow on focus */
}

/* Style for radio buttons */
input[type="radio"] {
    margin-right: 8px;
    appearance: none; /* Hide the default radio button */
    border: 2px solid #3498db;
    border-radius: 50%; /* Make it a circle */
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    transition: border-color 0.3s;
}

input[type="radio"]:checked {
    background-color: #6d7fcc; /* Change background on checked */
    border-color: #6d7fcc;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #6d7fcc;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #445580; /* Darken the color on hover */
}

/* Style for the result */
h4 {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

/* Additional styles for a more modern look */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 500px) {
    form {
        padding: 20px;
    }
}

/*  borda */
.h4-borda{
   margin-left: -1125px;
}
.ke_borda{
    margin-top: 500px;
}



  