{% extends 'index.html' %}

{% block content %}
<h1>BORDA</h1>
<div class="electre-form">
    <table class="top-electre-form">
        <tr>
            <td>
                <div>
                    <span class="title-electre-form">Masukan jumlah kriteria :</span>
                    <table>
                        <tr>
                            <td><input type="number" min=2 value=2 id="row" onchange="change_matrix_shape()"></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <hr>
    <h4 class="h4-borda">Kriteria&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Peringkat</h4>
    <table class="buttom-electre-form" id="initial-matrix">
        <!-- Initial matrix inputs will be generated here -->
    </table>
    
    <span class="title-electre-form">Masukan bobot kriteria :
    </span>
    <table class="buttom-electre-form" id="weight-matrix">
        <!-- Weight matrix inputs will be generated here -->
    </table>

    <button type="submit" onclick="calculate_matrix()">Calculate Matrix</button>
</div>

<p class="electre-result-title" style="display: none;">Result</p>

  <script src="../static/js/borda.js"></script>
{% endblock %}