{% extends 'index.html' %}

{% block content %}
<h1>Caesar Cipher Algoritma</h1>
<form action="/Caesar_Cipher/result" method="POST">
    <label for="inputText">Masukan kalimat yg ingin di encode atau decode:</label><br>
    <input type="text" id="inputText" name="inputText"><br>
    <label for="shiftAmount">Masukan jumlah shift:</label><br>
    <input type="number" id="shiftAmount" name="shiftAmount"><br>
    <input type="radio" id="encode" name="operation" value="encode" checked>
    <label for="encode">Encode</label>
    <input type="radio" id="decode" name="operation" value="decode">
    <label for="decode">Decode</label><br>
    <input type="submit" value="Submit"><br>
    <label>Hasil:</label>
    <h4>{{ result }}</h4>
</form>

<style>
    /* Tambahkan gaya sesuai kebutuhan */
</style>
{% endblock %}